start B0F proc E0F
proc
proc statement proc
statement expr
statement SEMICOLON

# Expressions
# Precedence category 0
expr exprcat1
expr expr PLUS exprcat1
expr expr MINUS exprcat1

# Precedence category 1
exprcat1 exprcat2
exprcat1 exprcat1 STAR exprcat2
exprcat1 exprcat1 SLASH exprcat2
exprcat1 exprcat1 PERCENT exprcat2

# Precedence category 2
exprcat2 expratom
exprcat2 exprcat2 STAR STAR expratom

# Atomic expr parts
expratom LPAREN expr RPAREN
expratom STRING
expratom NUM
expratom fn
expratom fncall

# Tuples
expratom expratom COMMA
expratom expratom COMMA expratom

# Assignment Expressions
expr lvalue EQUALS expr
expr lvalue EQSIGNAL expr

# Lvalues are just IDs for now.
lvalue ID

# Function calls
fncall fn LPAREN expr RPAREN
fncall fn LPAREN RPAREN
fn ID
fn LBRACE proc RBRACE
fn LBRACK RBRACK LBRACE proc RBRACE
fn LBRACK decllist RBRACK LBRACE proc RBRACE

# Argument declaration lists
decl ID
decllist decl
decllist decl COMMA decllist